<!DOCTYPE html>
<html>
<%= render 'layouts/rails_head' %>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% #Just before the main content %>
      <% #Iterate through, k, and v is message itself %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
      <% #Add debugger to homepage for local only %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
